body{
    background-color: #1163b6; 
}
h1{
    text-align: center;
    font-size: 8rem;
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    color:#FF7F3E;
    text-shadow: 4px 0px  #f0d99c;
    margin: 50px;
}
.img{
    width: 100px;
    height: 125px;
    margin-left: 20px;
}
.drum{
    width: 180px;
    height: 180px;
    font-size: 100px;
    border-radius: 30px;
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    color:#FF7F3E;
    border: 1rem solid;
    border-color: #FF7F3E;
    box-shadow: 15px 15px 25px #043769 ;
    text-shadow: 3px 0px  #f0d99c;
}
.inner-container{
  display: flex;
  justify-content: space-around;
  margin: 0px 50px ;
  
}
.foot{
    text-align: center;
    font-size: 2rem;
    color:#FF7F3E ;
    font-size: 2.5rem;
    margin-top: 150px;
}
.pressed{
    opacity: 0.5;
    box-shadow: 0 0 30px 20px white;
;
    
}
.W{
    background-image: url(./images/tom2.png);
    background-repeat: no-repeat;
    background-size: 148px;
}
.A{
    background-image: url(./images/tom1.png);
    background-repeat: no-repeat;
    background-size: 148px;
}
.S{
    background-image: url(./images/tom4.png);
    background-repeat: no-repeat;
    background-size: 148px;
}
.D{
    background-image: url(./images/tom3.png);
    background-repeat: no-repeat;
    background-size: 148px;
}
.J{
    background-image: url(./images/snare.png);
    background-repeat: no-repeat;
    background-size: 148px;
}
.K{
    background-image: url(./images/kick.png);
    background-repeat: no-repeat;
    background-size: 148px;
}
.L{
    background-image: url(./images/crash.png);
    background-repeat: no-repeat;
    background-size: 148px;
}
@media(max-width:600px){
    .drum{
       width: 130px;
       height: 130px;
       border-radius: 20px;
       border: 0.5rem solid;
       background-repeat: no-repeat;
       background-size: 115px;
       font-size: 3rem;
       text-shadow: 2px 0px  #f0d99c;
    }
    h1{
        font-size: 5rem;
        text-shadow: 3px 0px  #f0d99c;
        margin: 10px 0px;
    }
    .img{
        width: 75px;
        height: 90px;
    }
    #cont{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    .inner-container{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    .foot{
        margin: 50px;
        font-size: 1rem;
        margin: 20px;
    }
    .lout{
        grid-column: span 2;
    }
    .lin{
       display: flex;
       justify-content: center;
    }
}
